/* --------------------------------------------------------------------------------------------------------------------
    Multiple insert of students css  */



.form1 {
    margin-left: 5em;
    margin-top: -20em;
}

.form2 {
    margin-left: 15em;
    margin-top: -20em;
}

.spacing {
    line-height: 1.5;
}


.aligning {
    width: 25em;
}


/* center and center1 are for buttons and textboxes that need to be centered... */


.center {
    text-align: center;

}

.center1 {
    margin-top: 3em;
    text-align: center;
}


/* --------------------------------------------------------------------------------------------------------------------
    Text things  */

.generaltext {
    font-family: "FuturaEF-Book";
    color: #CCCCCC;
    margin-left: auto;
    padding: 1em;
}

div.text {
    font-size: 1.5em;
    text-align: center;
    margin-left: auto;
}

.paragraph {
    padding: 1.5em;
}